#background {
}

#bgImage{
    position: fixed;
    width: 850px;
    top: -30%;
    left: 40px;
    z-index: -1;
    background-image: url('./assets/wave.png');
    background-size: 100% 100%;

}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 9ch;
    color: rgb(83, 161, 255);
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.75);
}

span {
    font-family: 'Black Ops One', cursive;
    background:  linear-gradient(to top,  rgb(0, 66, 147), rgb(0, 115, 255));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-decoration: none;
}

body {
    background:linear-gradient(to bottom, aqua, navy);
    margin: 0 0 275px 0;
}

h3 {
}

.label {
    font-family: 'Black Ops One', cursive;
    display: block;
    text-align: center;
    color: rgb(0, 115, 255);
    background-color: rgb(248, 239, 211);
    margin: 0 130px 0 130px;
    padding: 10px 0 10px 0;
    border-radius: 12px;
}

.board {
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin: 0 auto;
}

.gridAndLabel {
}

.grid {
    display: inline-block;
    margin: 10px 50px 0 50px;
    background-color: rgb(248, 239, 211);
    padding: 15px;
    border-radius: 10px;
    border: 3px;
    border-style: outset;
}

#playGrid {

}

#EnGrid {

}

.row {

}

.tile {
    display: inline-block;
    background-color: aqua;
    background-image: url('./assets/wave.png');
    background-size: 60px 60px;
    margin: 0;
    width: 60px;
    height: 60px;
    border: 1px white;
    border-style: groove;
    border-radius: 5px;
}

#startGame {
    font-family: 'Caveat', cursive;
    font-size: 3ch;
    color:rgb(0, 115, 255);
    display: block;
    text-align: center;
    margin: 30px auto;
    border: 5px;
    border-radius: 5px;
    border-style: outset;
    background-color: rgb(248, 239, 211);
}

.waveimg {
    width: 60px;
    height: 60px;
}

#victory {
    display: none;
    position: absolute;
    z-index: 3;
    top: 26%;
    left: 30.5%;
    width: 450px;
    height: 150px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .3);
    background-color: rgb(248, 239, 211);
    border: 10px outset;
    border-radius: 15px;
}

#defeat {
    display: none;
    position: absolute;
    z-index: 3;
    top: 26%;
    left: 30.5%;
    width: 450px;
    height: 150px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .3);
    background-color: rgb(248, 239, 211);
    border: 10px outset;
    border-radius: 15px;
}

.popupText {
    text-align: center;
}

.buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.playAgain {
    display: inline;
    font-family: 'Caveat', cursive;
    font-size: 3ch;
    color:rgb(0, 115, 255);
    margin: 0 15px;
    text-align: center;
    border: 5px;
    border-radius: 5px;
    border-style: outset;
    background-color: rgb(248, 239, 211)
}

.notAgain {
    display: inline;
    font-family: 'Caveat', cursive;
    font-size: 3ch;
    color:rgb(0, 115, 255);
    margin: 0 15px;
    text-align: center;
    border: 5px;
    border-radius: 5px;
    border-style: outset;
    background-color: rgb(248, 239, 211)
}