#background {
}

#bgImage{
    position: fixed;
    width: 850px;
    top: -30%;
    left: 40px;
    z-index: -1;
    background-image: url('./assets/wave.png');
    background-size: 100% 100%;

}

#badBgImage {
    position: fixed;
    width: 350px;
    top: 1%;
    right: 40px;
    z-index: -2;

}

h1 {
    position: relative;
    top: -50px;
    font-family: 'Caveat', cursive;
    font-size: 9ch;
    color: rgb(40, 117, 211);
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.83);
}

span {
    font-family: 'Black Ops One', cursive;
    background:  linear-gradient(to top,  rgb(0, 66, 147), rgb(0, 115, 255));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-decoration: none;
}

body {
    background:linear-gradient(to bottom, rgb(0, 255, 255), navy);
    margin: 0 0 275px 0;
}



.board {
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin: 0 auto;
}

.gridAndLabel {
    min-width: 589px;
}

.label {
    font-family: 'Black Ops One', cursive;
    display: block;
    text-align: center;
    color: rgb(0, 115, 255);
    background-color: rgb(248, 239, 211);
    margin: 0 130px 0 130px;
    padding: 10px 0 10px 0;
    border-radius: 12px;
}

.grid {
    display: inline-block;
    margin: 10px 50px 0 50px;
    background-color: rgb(248, 239, 211);
    padding: 15px;
    border-radius: 10px;
    border: 3px;
    border-style: outset;
}


.tile {
    display: inline-block;
    background-color: aqua;
    background-image: url('./assets/wave.png');
    background-size: cover;
    margin: 0px;
    width: 72px;
    height: 72px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .4);
    /* border: 1px white;
    border-style: solid; */
    border-radius: 5px;
}

/* .tile:hover {
    background-color: red;
} */

.instructions {
    opacity: 0;
    text-align: center;
    color: rgb(0, 115, 255);
    font-family: 'Black Ops One', cursive;
    font-size: 2ch;
    margin: 0 0 4px 0;

}

#startGame {
    font-family: 'Black Ops One', cursive;
    font-size: 3ch;
    color:rgb(0, 115, 255);
    display: block;
    text-align: center;
    margin: 30px auto;
    padding: 0 30px;
    border: 5px;
    border-radius: 5px;
    border-style: outset;
    background-color: rgb(248, 239, 211);
}

.popupText {
    text-align: center;
    color:rgb(40, 117, 211);
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 600;
    margin: 15px 10px;
}

.buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#victory {
    display: none;
    position: absolute;
    z-index: 3;
    top: 26%;
    left: 30.5%;
    width: 450px;
    height: 150px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .3);
    background-color: rgb(248, 239, 211);
    padding: 10px;
    border: 10px outset;
    border-radius: 15px;
}

#defeat {
    display: none;
    position: absolute;
    z-index: 3;
    top: 26%;
    left: 30.5%;
    width: 450px;
    height: 160px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .3);
    background-color: rgb(248, 239, 211);
    padding: 10px;
    border: 10px outset;
    border-radius: 15px;
}

#settings {
    display: block;
    position: absolute;
    z-index: 3;
    top: 26%;
    left: 32%;
    width: 500px;
    height: 500px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .3);
    background-color: rgb(248, 239, 211);
    padding: 10px;
    border: 10px outset;
    border-radius: 15px;
}

#fleetFirepower {
    margin: 30px 0 0 0;
} 

.settingText {
    display: inline;
    font-family: 'Black Ops One', cursive;
    font-size: 3ch;
    color:rgb(0, 115, 255);
}

#fireDescription {
    text-align: left;
    padding: 0 50px 0 0;
}

#fireCheckbox {
    display: inline-block;
    position: relative;
    top: 6px;
    margin: 0 0 0 60px;
    height: 30px;
    width: 30px;
}

#difficulty {
    padding: 20px;
}

#difDescription {
    display: inline-block;
    text-align: left;
    height: 130px;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
}


#settingsTitle {
    text-align: center;
    font-family: 'Black Ops One', cursive;
    font-size: 4ch;
    color:rgb(0, 115, 255);
    margin: 0 0 0 0;
}

.settingButton {
    display: inline;
    font-family: 'Black Ops One', cursive;
    font-size: 3ch;
    color:rgb(0, 115, 255);
    margin: 0 15px;
    text-align: center;
    border: 5px;
    border-radius: 5px;
    border-style: outset;
    background-color: rgb(248, 239, 211)
}

#normal {
    border-color: rgb(0, 115, 255)
}

#close {
    position: absolute;
    bottom: 20px;
    left: 38%;
    display: inline;
    font-family: 'Black Ops One', cursive;
    font-size: 3ch;
    color:rgb(0, 115, 255);
    margin: 0 15px;
    text-align: center;
    border: 5px;
    border-radius: 5px;
    border-style: outset;
    background-color: rgb(248, 239, 211)
}

.playAgain {
    display: inline;
    font-family: 'Black Ops One', cursive;
    font-size: 3ch;
    color:rgb(0, 115, 255);
    margin: 0 15px;
    text-align: center;
    border: 5px;
    border-radius: 5px;
    border-style: outset;
    background-color: rgb(248, 239, 211)
}

.notAgain {
    display: inline;
    font-family: 'Black Ops One', cursive;
    font-size: 3ch;
    color:rgb(0, 115, 255);
    margin: 0 15px;
    text-align: center;
    border: 5px;
    border-radius: 5px;
    border-style: outset;
    background-color: rgb(248, 239, 211)
}